#!/usr/bin/make -f
export DH_VERBOSE=1
export PATH=/opt/UltimateVenv/bin/:/usr/bin/
export PYBUILD_OPTION_INTERPRETER="/opt/UltimateVenv/bin/python3"

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
override_dh_auto_install:
	dh_auto_install
override_dh_auto_clean:
	dh_auto_clean
override_dh_auto_test:
	dh_auto_test
